.messages{
    flex-grow: 1;
    margin-bottom: 5px;
    overflow: auto;
    height: 1px;
    scroll-behavior: smooth;
}
.messages::-webkit-scrollbar{
    width: 0px;
}
.sentMess{
    background-color: rgb(93, 93, 216);
    padding: 10px;
    color: white;
    max-width: 60%;
    border-radius: 15px;
    border-bottom-right-radius: 0px;
}
.recMess{
    background-color: rgb(218, 218, 241);
    padding: 10px;
    max-width: 60%;
    border-radius: 15px;
    border-bottom-left-radius: 0px;   
}
.messWrapperSend{
    display: flex;
    justify-content: flex-end;
    margin-bottom: 5px;
}
.messWrapper{
    display: flex;
    align-items:flex-end;
    gap: 10px;
    margin-bottom: 5px;
}
.profImg{
    background-color: cyan;
    height: 3.5rem;
    aspect-ratio: 1;
    border-radius: 10px;
}
.messTime{
    text-align: end;
    margin-top: 10px;
    font-size: 0.9rem;
}
.senderName{
    font-size: 1.2rem;
    font-weight: 500;
    margin-bottom: 5px;
    color:rebeccapurple
}
.loadingWrapper{
    background-color: rgb(218, 218, 241);
    border-radius: 14px;
    border-bottom-left-radius: 0;
    padding: 0 10px;
}
.loading{
    height: 3.5rem;
    padding: 0 10px;
}
.sysMessWrapper{
    display: flex;
    align-items: center;
    justify-content: center;
}
.sysMess{
    background-color: rgb(196, 193, 193);
    padding: 10px;
    color:white;
    max-width: 60%;
    border-radius: 15px;
    margin-bottom: 5px;
}
.hasImage{
    width: 60%;
}
.img{
    width: 100%;
}
.extImg{
    width: 90%;

}
.lightBox{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.856);
    position: fixed;
    inset: 0 0 0 0;
    overflow: scroll;
    z-index: 1;
}
.lightBox::-webkit-scrollbar{
    width: 0px;
}