.trendingWrapper {
  width: 100%;
  max-width: 1500px;
  flex-grow: 1;
  display: flex;
  justify-content: center;
}
.settingsWrapper{
  flex-grow: 1;
  display: flex;
  justify-content: flex-end;
}
.settings{
  padding: 5px;
  border: none;
  background-color: transparent;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: grey;
  position: relative;
  z-index: 1;
}

.settings:hover{
  background-color: rgb(65, 65, 65);
}
.settingsOption{
  font-size: 1.2rem;
  padding: 7px 10px;
  display: block;
  text-decoration: none;
  color:black;
  background-color: grey;
}
.settingsOption:hover{
  background-color: rgb(65, 65, 65);
  

}
.settingsOptions{
  text-wrap: nowrap;
  position: absolute;
  border-radius: 10px;
  overflow: hidden;
  top:100%;
  right:0px;
  
}
.settingsIcon{
  font-size: 1.8rem;
}
.Trending {
  background-color: lightcoral;
  max-width: 1500px;
  gap: 20px;
  display: flex;
}
.search{
  background-color: lavender;
  width: 100%;
  max-width: 1500px;
  padding: 10px;
  display: flex;
  gap:10px;
}
.searchInputWrapper{
  background-color: white;
  font-size: 1rem;
  color:black;
  flex-grow: 1;
  padding: 10px;
  border-radius: 5px;
  display: flex;
}
.searchInputIcon{
  font-size: 1.5rem;
  transition: all 0.3s;
}
.searchInputIcon:hover{
  transform: scale(1.1);
}
.searchInput{
  color: black;
  font-size: 1.1rem;
  flex-grow: 1;
}
.scroll {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
.posts {
  background-color: lightgreen;
  padding-top: 10px;
  overflow: auto;
  flex-grow: 1;
  height: 1px;
}
.posts::-webkit-scrollbar {
  width: 0;
}
.post {
  background-color: aquamarine;
  width: 100%;
  border-radius: 15px;
  padding: 15px;
  margin-bottom: 10px;
}
.media {
  background-color: black;
  width: 100%;
  border-radius: 15px;
  object-fit: contain;
  aspect-ratio: 2;
}
.postTitle {
  font-size: 2rem;
  margin-top: 5px;
}
.postDesc {
  font-size: 1rem;
  margin-top: 10px;
}

.postButtons {
  display: flex;
  gap: 10px;
}
.postButtonWrapper {
  font-size: 1.2rem;
  background-color: grey;
  display: flex;
  border-radius: 100px;
  align-items: center;
  justify-content: center;
  gap: 5px;
  padding-right: 15px;
  margin-top: 10px;
}
.postButton {
  padding: 9px;
  align-items: center;
  justify-content: center;
  display: flex;
  border-radius: 100px;
}
.postButton:hover {
  background-color: rgb(56, 56, 56);
}
.postButtonIcon {
  font-size: 1.3rem;
  color: white;
}
.profile{
    height: 3rem;
    aspect-ratio: 1;
    object-position: center;
    border-radius: 100%;
}
.postHeader{
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    gap:10px;
}
.name{
    font-size: 1.3rem;
}
.ads {
  background-color: bisque;
  max-width: 400px;
  width: 20vw;
  flex-shrink: 0;
}
.comments{
  margin-top: 20px;
}
.comment{
  background-color: grey;
  margin-bottom: 5px;
  padding: 10px;
}
.commentHeader{
  display: flex;
  gap: 10px;
  align-items: center;
  margin-bottom: 10px;
}
.commentProfile{
  height: 2.1rem;
  aspect-ratio: 1;
  object-position:  center center;
  border-radius: 100%;
}
.commentContent{
  margin-left: 2.5rem;
}
.commentInputWrapper{
  margin-bottom: 10px;
  border-radius: 25px;
  border: 1px solid grey;
}
.commentInputWrapper:has(textarea:focus){
  border: 1px solid black;
}
.padding{
  color:grey;
  border-radius: 100px;
  padding: 15px 20px;
}
.commentInput{
  width: 100%;
  resize: vertical;
  border: none;
  background-color: transparent;
  font-size: 1rem;
  outline:none
}
.commentButtons{
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.commentInput{
  padding: 10px 20px;
  font-family: "Roboto", sans-serif;
  font-size: 1.1rem;
}
.commentButton{
  font-weight: 500 !important;
  font-size: 1rem;
  padding: 10px 15px;
  border-radius: 100px;
  margin-bottom: 5px;
  margin-right: 5px;
  border: none;
}
.cancel{
  background-color: grey;
}
.send{
  background-color: rgb(128, 0, 64);
}
.views{
  align-self: center;
  margin-top: 0.5rem;
  font-size: 1.2rem;
}
.upVoted{
  color:blue
}
.downVoted{
  color:red
}
.dropBoxHeader{
  border: none;
  background-color: transparent;
  outline: none;
  position: relative;
  background-color: grey;
  padding: 7px 20px;
  border-radius: 5px;
  display: flex;
  gap:10px;
  justify-content: center;
  font-size: 1.2rem;
  align-items: center
}

.dropBox{
  font-size: 1rem;
  background-color: rgb(70, 70, 70);
  position: absolute;
  border-radius: 10px;
  overflow: hidden;
  left:0;
  top: calc(100% + 10px)
}
.dropBoxOptions{
  overflow: auto;
  max-height: 300px;
}
.dropBoxOption{
  padding: 5px 20px;
  text-align: start;
  outline:none
}

.dropBoxOption:hover ,.dropBoxOption:focus{
  background-color: rgb(53, 53, 53);
}
.dropBoxInput{
  font-size: 1rem;
  padding: 10px 20px;
  background-color:  black;
}
.searchButton{
  padding: 10 20px;
  font-size: 1.1rem;
  background-color: rgb(60, 60, 248);
  border: none;
  border-radius: 10px;
}
.more{
  background-color: grey;
  display: block;
  align-items: center;
  justify-content: center;
  padding: 10px;
}
.moreIcon{
  font-size: 1rem;
}
.system{
  font-size: 3rem;
  margin: 0px 5rem;
  text-align: center;
  margin-top: 40%;
  transform: translateY(-50%);
}
.remoteCheckWrapper{
  display: flex;

  align-items: center;
  flex-direction: column;
  font-size: 1.1rem;
}
